* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-decoration: none;
    color: rgb(199, 199, 199);
}

.top {
    background: url('img/top.png') no-repeat center top;
}



.section-top h1 {
    font-size: 4rem;
}
.section-top p {
    font-size: 1.6rem;
    margin: 5% 15%;
}
.section-top img {
    width: 100%;
}



.part1 #modal-open{
    background-color: #f0f0f0;
    border: #f0f0f0 solid 4px;
    transform: translate(50%, 0%);
    padding: 0.7rem;
    margin: 1rem;
    width: 50%; 
    font-size: 1.3rem;
}
#modal-open:hover {
    transition-duration: 0.2s;
    border: rgb(138, 138, 138) solid 2px;
    cursor: pointer;
}

/* Klass som kan användas vid behov*/ 
.hidden {
    display: none;
}

/* Modal som kommer när man tryckt på beställ*/

.modal {
    animation: revealModal 1s;
    position: fixed;
    width: 100%;
    height: 80%;
    bottom: 0;
    right: 0;
    background-color: rgb(47, 63, 114);

    text-align: center;
}
.modal h2{
    margin: 1rem;
}
.modal img{
    width: 2rem;
}
.modal a {
    color: #f0f0f0;
    font-size: 2rem;
}
.modal a:hover{
    transition-duration: .3s;
    opacity: .6;
}

/* Media Queries för dator*/
@media screen and (min-width: 800px) {
    .flex{
        display: flex;
        flex-direction: column;
    }

    .section-top p {
    font-size: 2rem;
    margin: 5% 15%;
    }

    .section-top h1{
        text-align: center;
        margin: 3rem;
    }
    .part1 img {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }


}
 /* Keyframe för att ta fram meddelandet på ett finare sätt*/
@keyframes revealModal {
    0%{
        transform: scale(0);
        opacity: 0.4;
        
    }
    100%{
        transform:  scale(1);
        opacity: 1;
    }
}